.col-md-12>h2 {
    margin-left: 40px;
}

.col-md-12>p {
    margin-left: 40px;
}

.box>h2 {
    margin-left: 40px;
    margin-top: 30px;
}

.box>p {
    margin-left: 40px;
}

.pic>img {
    margin-left: 273px;
    margin-top: 30px;
}

.picbox>h2 {
    margin-left: 40px;
}

.picbox>p {
    margin-left: 40px;
}

.picwrp>img {
    margin-left: 220px;
    margin-top: 30px;
}

.footerbox>h2 {
    font-size: 20px;
    color: orangered;
    font-weight: 500;
}

.footerbox>h3 {
    font-size: 20px;
    color: orangered;
    font-weight: 500;
    margin-left: 30px;
}

.footerbox1>h2 {
    font-size: 20px;
    color: orangered;
    font-weight: 500;
}



.footerbox1>p {
    font-size: 17px;
    color: grey;
    font-weight: 500;
    
}

.footerbox2>h2 {
    font-size: 20px;
    color: orangered;
    font-weight: 500;
    
    
}

.footerbox2>p {
    font-size: 20px;
    color: orangered;
    font-weight: 500;

}

.footerbox3>img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-top: 6px;
    cursor: pointer;
    margin-right: 10px;
}

.logo>img {
    margin-top: 30px;
    margin-left: 50px;
}

.wrpbox>p {
    color: #fff;
    margin-top: 13px;
}

.wrpbox1>p {
    color: #fff;
    margin-top: 13px;
}

.footer {
    margin-top: 62px;
}

@media (max-width: 767px) {
    .col-md-12 {
        flex-wrap: wrap;
    }

    .imagebox {
        flex-wrap: wrap;
    }

    .picimg>img {
        width: 100%;
        flex-wrap: wrap;
    }

    .mainwrp {
        flex-wrap: wrap;
    }

    .picwrp>img {
        flex-wrap: wrap;
        width: 100%;
    }
}
